:root {
  --primary-color: #ff833e;
  --primary-color-dark: #db6f35;
  --secondary-color: #4a90e2;
  --text-dark:#333333;
  --text-light:#767268;
  --white: #ffffff;
  --max-width: 1200px;
  --font: "Poppins", system-ui;
}



.ratings-page {
  padding-block: 8rem 2rem;
  padding-inline: 2rem;
}

.ratings-header{
  text-align: center;
  
}

.ratings-header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;

}

.ratings-header p {
  font-size: 1rem;
  color: var(--text-dark);
  padding-inline: 50px;
}

.ratings-content{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 30px;
}

.rated-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--text-light);
}

.poster{
  margin-bottom: 20px;
}

.poster img {
  max-width: 150px;
  border-radius: 8px;
}

.details {
  flex: 1;
}

.movie-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.year-runtime {
  font-size: 1rem;
  color: var(--text-light);
  margin-bottom: 1rem;
}

.rating-section {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem; 
}



.rate-button,.delete-button{
  color:var(--secondary-color);
  cursor: pointer;
}

.input{
  width: 30px;
  display: none;
}

.save-link{
  color:var(--secondary-color);
  cursor: pointer;
  display: none;
}

.is-editing input{
  display: initial;
}

.is-editing .rate-button{
  display: none;
}

.is-editing .save-link{
  display: initial;
}

.is-editing .rating-label {
  display: none;
}

.overview-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.overview {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-inline: 3rem;
}

.movie-crew {
  font-size: 0.9rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column; 
  gap: 0.7rem;
}

.label{
  font-weight: bold;

}

.movie-crew{
  margin-bottom: 10px;
}




@media (min-width: 768px) {
  .ratings-page{
    padding-block: 3.5rem 2rem;
    padding-inline: 1rem;
    margin: auto;
    max-width: var(--max-width);
  }

  .ratings-header p{
    margin-bottom: 50px;
  }

  .rated-item {
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    gap: 4rem;
  }

  .poster img {
    width: 100%;
    border-radius: 8px;
    }

    .overview {
      font-size: 1rem;
      margin-bottom: 1rem;
      padding-inline: 0;
      line-height: 1.5rem;
    }

    .movie-crew {
      font-size: 0.9rem;
      padding-inline: 0rem;
      display: flex;
      flex-direction: row; 
      gap: 2rem;
    }

    .rating-section {
      display: flex;
      gap: 1rem;
      justify-content: start;
      margin-bottom: 1rem; 
    }
  
}






